.homepage {
  position: absolute;
  width: 375px;
  height: 718px;
  left: 1px;
  top: 1px;
  background: burlywood;
}

.appbar {
  position: absolute;
  width: 375px;
  height: 92px;
  left: 1px;
  top: 1px;
}

.logoPlace {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: absolute;
  width: 100px;
  height: 40px;
  left: 12px;
  top: calc(50% - 40px / 2);
}

#logo {
  position: static;
  width: 76px;
  height: 20px;
  left: 12px;
  top: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1px 1px;
}

.menuPlace {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
}

#menuBar {
  position: static;
  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1px 1px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  position: absolute;
  width: 375px;
  height: 604px;
  left: calc(50% - 375px / 2);
  top: 92px;
}

.text1 {
  position: static;
  width: 327px;
  height: 150px;
  left: 24px;
  top: 114px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 1px;
}

#text2 {
  position: static;
  width: 327px;
  height: 146px;
  left: 24px;
  top: 276px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 1px;
}

.text3Place {
  padding: 1px;
  position: static;
  width: 217px;
  height: 24px;
  left: 24px;
  top: 434px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 1px;
}

.text3 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  position: static;
  width: 117px;
  height: 24px;
  left: 1px;
  top: 1px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8Cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1px 8px;
}

.social-icon {
  position: static;
  width: 270.17px;
  height: 20px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 12px 1px;
}

.twitter {
  position: absolute;
  margin: 10px;
}

.medium {
  position: absolute;
  margin: 10px;
}

.github {
  position: absolute;
  margin: 10px;
}

.finger {
  position: absolute;
  margin: 10px;
};